<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Rebrickable Lego Sets by Yea</title>
		 <!-- <script type="text/javascript" src="app/lib/d3/d3.min.js"></script>
		<script type="text/javascript" src="app/lib/d3-dsv/d3-dsv.min.js"></script>
		<script type="text/javascript" src="app/lib/d3-fetch/d3-fetch.min.js"></script> -->

		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src={{url_for('static', filename='d3.min.js')}}></script>
		<script type="text/javascript" src={{url_for('static', filename='d3-dsv.min.js')}}></script>
		<script type="text/javascript" src={{url_for('static', filename='d3-fetch.min.js')}}></script>
		<style type="text/css">
			.rect {
			fill: steelblue
			}
		</style>
	</head>
	<body>
		<svg width='1500' height='800'></svg>
		<script type="text/javascript">
<!--		var margin = {top: 60, right: 30, bottom: 30, left: 60}-->
		var margin = {top: 60, right: 30, bottom: 60, left: 60};
		const svg = d3.select('svg');
		const width = +svg.attr('width') - margin.left - margin.right ;
		const height = +svg.attr('height') - margin.top - margin.bottom;
		const innerWidth = width - margin.left - margin.right;
		const innerHeight = height - margin.top - margin.bottom;


		const render = data => {
			const yScale = d3.scaleLinear()
				.domain([0, d3.max(data, d => d.running_total)])
				.range([innerHeight, 0]);
			
			const xScale = d3.scaleTime()
				.domain([d3.min(data, d=> d.year), d3.max(data, d=> d.year)])
				.range([0, innerWidth])

			const g = svg.append('g')
				.attr('transform', `translate(${margin.left}, ${margin.bottom})`);
			g.append('g').call(d3.axisLeft(yScale)).attr('transform', `translate(0, 0)`);
			g.append('g').call(d3.axisBottom(xScale).ticks(d3.timeYear.every(3))).attr('transform', `translate(0, ${innerHeight})`);
			g.selectAll('rect').data(data)
					.enter().append('rect')
					.attr('x', d => xScale(d.year))
					.attr('y', d => (yScale(d.running_total)))
						.attr('width', 15)
						.attr('height', d => (innerHeight - yScale(d.running_total)))
						.attr('fill', '#69b3a2');
						
			g.append("text")
			.attr("x", (width / 2))             
			.attr("y", 0 - (margin.top / 2))
			.attr("text-anchor", "middle")  
			.style("font-size", "30px") 
			.style("text-decoration", "underline")  
			.text("Rebrickable Lego Sets by Year");
		
			
			g.append("text")
			.attr("x", (width-150))             
			.attr("y", (height + (margin.bottom / 2)))
			.attr("text-anchor", "middle")  
			.style("font-size", "30px") 
			.style("text-decoration", "underline")  
			.text("ppham33");
			
			};
			
			
		
		d3.dsv(",", "/static/q3.csv", function(d) {
			  return {
				year: new Date(+d.year, 0, 1), // convert "Year" column to Year
				running_total: +d.running_total // convert "Length" column to number
			  };
			}).then(function(data) {
				console.log("=====");
			  console.log(data);
			  console.log("=====");
			  console.log(data[0].year);
			  render(data);
			});
		
		
		
		</script>
		
	</body>
</html>